@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geist+Mono&display=swap");

.windows:lang(zh-Hant) {
  font-family: "Geist Mono", "Noto Sans TC", "Noto Sans JP", monospace, codicon !important;
}

* {
  font-family: "Geist Mono", "Noto Sans TC", "Noto Sans JP", monospace, codicon !important;
  outline: none !important;
}

.codicon {
  font-family: "codicon" !important;
}

.search-label {
  padding-right: 10px;
}

.monaco-list.last-focused::before {
  display: none !important;
}

/* Container that holds the VS Code home icon. */
.editor-group-watermark {
  max-width: none !important;
}

.command-center-center,
.agent-status-container {
  width: auto !important;
}
