@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geist+Mono&display=swap");

* {
  scrollbar-color: initial !important;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
